<!DOCTYPE html>
<html lang="el">
<head>
    
    {{> head }}

    <title>Admin - Shishahub: Deluxe Hookah Delivery στο χώρο σας</title>

    <meta name="robots" content="noindex">

    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/header.css" rel="stylesheet" type="text/css">
    <link href="/css/footer.css" rel="stylesheet" type="text/css">
    <link href="/css/adminOrders.css" rel="stylesheet" type="text/css">
</head>

<body>
<!--                    header                    -->
{{> header }} 
<!--                    main                    -->
    <main>
        <div class="container m-auto p-0 w-100">
            <div class="outside p-1 my-2">
                <div class="inside p-2">
                    <div class="w-100 my-2 text-center"><h2>Όλες οι παραγγελίες</h2></div>
                    <div id="earnings" class="w-100 mx-auto my-2 py-2 text-center">Total EARNINGS from <span>{{totalOrdersCompleted}}</span> COMPLETED orders : &nbsp; <span>{{totalEarnings}} €</span></div>
                    {{#each result}}
                    <div class="card">
                        <div class="card-header px-2">
                            <a role="button" href="#card-{{order_id}}" data-toggle="collapse" aria-expanded="false" aria-controls="card-{{order_id}}">
                                <div class="row w-100 mx-auto p-0">
                                    <div class="col-3 p-0"><span>{{date}}</span></div>
                                    <div class="col-4 p-0">{{firstname}} {{lastname}} - TotOrders : {{numberOfOrders}} </div>
                                    <div class="col-3 p-0">
                                        <span class="status">{{status}}</span>
                                        <br> 
                                        {{#if admin}}
                                        <span class="admin">by {{admin}}</span>
                                        {{/if}}
                                    </div>
                                    <div class="col-2 text-right p-0"> orderID: 32{{order_id}}47</div>
                                </div>
                            </a>
                        </div>
                        <div class="card-body p-0 row collapse" id="card-{{order_id}}">
                            <div class="col-md-7 pt-2 mobile-outline">
                                <div class="w-100 px-5"><h5>Επιλογές</h5></div>
                                <hr>
                                <div class="description-tiles px-3 row mx-0">
    
                                    <div class="col-4"><span style="font-style: italic;">Γεύσεις </span> </div>
                                    <div class="col-7 p-0">: &nbsp; <span>{{flavors}}</div>
                                        
                                    <div class="col-4"><span style="font-style: italic;">Ποσότητα</span> </div>
                                    <div class="col-8 p-0">: &nbsp;<span>{{quantity}} γεύσεις</span></div>
                                    <div class="col-4"><span style="font-style: italic;">Ημερομηνία</span> </div>
                                    <div class="col-8 p-0">: &nbsp;<span>{{date}}</span></div>
                                    <div class="col-4"><span style="font-style: italic;">Ώρα</span> </div>
                                    <div class="col-8 p-0">: &nbsp;<span>{{time}}</span></div>
                                    <div class="col-4"><span style="font-style: italic;">Double Hose</span> </div>
                                    <div class="col-8 p-0">: &nbsp;<span class="dualHose">{{double_hookah}}</span></div>
                                    <div class="col-md-6"></div>
                                    <div class="col-md-4 mt-1"><div class="p-1"><span style="font-style: italic;">Τιμή Πακέτου : </span> <span style="font-weight:bolder;">{{price}} eur</span></div></div>
                                </div>
                            </div>
                            <div class="col-md-5 pt-1 mobile-outline">
                                <div class="w-100 px-5"><h5>Διεύθυνση αποστολής</h5></div>
                                <hr>
                                <div class="description-tiles mb-4 px-3 row mx-0">
                                        <div class="col-4"><span> <span style="font-style: italic;">Όνομα</span> </div>
                                        <div class="col-8">: &nbsp;{{firstname}} {{lastname}}</span></div>
                                        <div class="col-4"><span> <span style="font-style: italic;">Διεύθυνση</span> </div>
                                        <div class="col-8">: &nbsp;{{address}}</span></div>
                                        <div class="col-4"><span> <span style="font-style: italic;">Όροφος</span> </div>
                                        <div class="col-8">: &nbsp;{{floor}}</span></div>
                                        <div class="col-4"><span> <span style="font-style: italic;">Περιοχή</span> </div>
                                        <div class="col-8">: &nbsp;{{city}}</span></div>
                                        <div class="col-4"><span> <span style="font-style: italic;">Τηλέφωνο</span> </div>
                                        <div class="col-8">: &nbsp;{{telephone}}</span></div>
                                        {{#if otherAddress}}
                                        <div class="col-4"><span> <span style="font-style: italic;">Άλλη διέυθυνση</span> </div>
                                        <div class="col-8">: &nbsp;{{otherAddress}}</span></div>
                                        {{/if}}
                                </div>
                            </div>
                            <hr>
                            <div class="col-12 row w-100 p-1 m-auto text-center">
                                {{#unless canceled}}
                                {{#unless completed}}
                                    {{#if delivered}}
                                        <div class="col-12">
                                            <form action="/admin/adminOrders/doneOrder" method="POST">
                                                <input type="hidden" name="order_id" value="{{order_id}}">
                                                <input type="hidden" name="double_hookah" value="{{double_hookah}}">
                                                <button type="submit" class="btn btn-warning">Complete</button>
                                            </form>
                                        </div>
                                    {{else}}
                                        <div class="col-6 text-right">
                                            <form action="/admin/adminOrders/cancelOrder" method="POST">
                                                <input type="hidden" name="price" value="{{price}}">
                                                <input type="hidden" name="order_id" value="{{order_id}}">
                                                <input type="hidden" name="user_id" value="{{user_id}}">
                                                <input type="hidden" name="date" value="{{date}}">
                                                <input type="hidden" name="time" value="{{time}}">
                                                <input type="hidden" name="quantity" value="{{quantity}}">
                                                <input type="hidden" name="otherAddress" value="{{otherAddress}}">
                                                <input type="hidden" name="flavors" value="{{flavors}}">
                                                <input type="hidden" name="email" value="{{email}}">
                                                <input type="hidden" name="firstname" value="{{firstname}}">
                                                <input type="hidden" name="lastname" value="{{lastname}}">
                                                <input type="hidden" name="telephone" value="{{telephone}}">
                                                <input type="hidden" name="floor" value="{{floor}}">
                                                <input type="hidden" name="city" value="{{city}}">
                                                <input type="hidden" name="postal" value="{{postal}}">
                                                <input type="hidden" name="address" value="{{address}}">
                                                <input type="hidden" name="numberOfOrders" value="{{numberOfOrders}}">
                                                <input type="hidden" name="outOfLoutraki" value="{{outOfLoutraki}}">
                                                <input type="hidden" name="double_hookah" value="{{double_hookah}}">
                                                <button type="submit" class="btn btn-danger">Cancel</button>
                                            </form>
                                        </div>
                                        {{#if accepted}}
                                        <div class="col-6 text-left">
                                            <form action="/admin/adminOrders/deliveredOrder" method="POST">
                                                <input type="hidden" name="order_id" value="{{order_id}}">
                                                <button type="submit" class="btn btn-info">Delivered</button>
                                            </form>
                                        </div>
                                        {{else}}
                                        <div class="col-6 text-left">
                                            <form action="/admin/adminOrders/acceptOrder" method="POST">
                                                <input type="hidden" name="price" value="{{price}}">
                                                <input type="hidden" name="order_id" value="{{order_id}}">
                                                <input type="hidden" name="date" value="{{date}}">
                                                <input type="hidden" name="time" value="{{time}}">
                                                <input type="hidden" name="quantity" value="{{quantity}}">
                                                <input type="hidden" name="otherAddress" value="{{otherAddress}}">
                                                <input type="hidden" name="flavors" value="{{flavors}}">
                                                <input type="hidden" name="email" value="{{email}}">
                                                <input type="hidden" name="firstname" value="{{firstname}}">
                                                <input type="hidden" name="lastname" value="{{lastname}}">
                                                <input type="hidden" name="telephone" value="{{telephone}}">
                                                <input type="hidden" name="floor" value="{{floor}}">
                                                <input type="hidden" name="city" value="{{city}}">
                                                <input type="hidden" name="postal" value="{{postal}}">
                                                <input type="hidden" name="address" value="{{address}}">
                                                <input type="hidden" name="numberOfOrders" value="{{numberOfOrders}}">
                                                <input type="hidden" name="outOfLoutraki" value="{{outOfLoutraki}}">
                                                <input type="hidden" name="double_hookah" value="{{double_hookah}}">
                                                <button type="submit" class="btn btn-success">Accept</button>
                                            </form>
                                        </div>
                                        {{/if}}
                                    {{/if}}
                                {{/unless}}
                                {{/unless}}
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </main>
<!--                    footer                    -->
{{> footer }}
<!--                    scripts                    -->
<script src="/js/adminOrders.js"></script>

</body>

</html>