<!DOCTYPE html>
<html lang="el">
<head>
    
    {{>head}}

    <title>Οι παραγγελίες μου - Shishahub: Deluxe Hookah Delivery στο χώρο σας</title>
   
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/header.css" rel="stylesheet" type="text/css">
    <link href="/css/footer.css" rel="stylesheet" type="text/css">
    <link href="/css/myOrders.css" rel="stylesheet" type="text/css">
</head>

<body>
<!--                    header                    -->
{{> header }} 
<!--                    main                    -->
    <main>
        <div class="container m-auto p-0 w-100">
            <div class="outside p-1 my-2">
                <div class="inside p-2">
                    <div class="w-100 my-2 text-center"><h2>Οι παραγγελίες μου</h2></div>
                    <div class="row w-100 mx-auto my-4">
                        {{#each result}}
                        <div class="col-lg-5 py-1 pink row" >
                            <div class="col-1 p-0"><span class="numberOfOrder"></span>.</div>
                            <div class="col-5 p-0">{{date}} at {{time}}</div>
                            <div class="col-6 text-right"> OrderID: <span class="orderid">32{{order_id}}47</span></div>
                            <div class="col-12 my-1"></div>
                            <div class="col-3 grey">Διάρκεια:</div>
                            <div class="col-8">{{duration}} ώρες</div>
                            <div class="col-md-2 grey">Γεύσεις:</div>
                            <div class="col-md-7 pr-0 flavors">{{flavors}}</div>
                            {{#if otherAddress}}
                            <div class="col-12 grey">Άλλη διέυθυνση:</div>
                            <div class="col-12">{{otherAddress}}</div>
                            {{/if}}
                            <div class="col-12 my-1"></div>
                            <div class="col-7 grey">Κατάσταση : <span class="status">{{status}}</span></div>
                            <div class="col-5 text-right grey">Τιμή : <span class="price">{{price}}eur</span></div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </main>
<!--                    footer                    -->
{{> footer }}
<!--                    scripts                    -->
<script src="/js/myOrders.js"></script>
</body>

</html>