<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Sipmarch7">
    <meta name="description" content="Shisha hub delivery service shop">
    <meta name="keywords" content="HMTL, CSS, JS, Project, shisha, delivery, service, node.js, e-shop">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Οι παραγγελίες μου - Shisha hub</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/header.css" rel="stylesheet" type="text/css">
    <link href="/css/footer.css" rel="stylesheet" type="text/css">
    <link href="/css/myOrders.css" rel="stylesheet" type="text/css">
</head>

<body>
<!--                    header                    -->
{{> header }} 
<!--                    main                    -->
    <main>
        <div class="container m-auto p-0 w-100">
            <div class="outside p-1 my-2">
                <div class="inside p-2">
                    <div class="w-100 my-2 text-center"><h2>Οι παραγγελίες μου</h2></div>
                    <div class="row w-100 mx-auto my-4">
                        {{#each result}}
                        <div class="col-md-5 py-1 pink row" >
                            <div class="col-6 pr-0"> {{date}} at {{time}}</div>
                            <div class="col-6 text-right"> OrderID: <span class="orderid">32{{order_id}}</span></div>
                            <div class="col-12 my-1"></div>
                            <div class="col-md-2 grey">Γεύσεις:</div>
                            <div class="col-md-7">{{flavors}}</div>
                            <div class="col-12 my-1"></div>
                            <div class="col-3 grey">Διάρκεια:</div>
                            <div class="col-8">{{duration}} ώρες</div>
                            <div class="col-12 my-1"></div>
                            <div class="col-7 grey">Κατάσταση : <span class="status">{{status}}</span></div>
                            <div class="col-5 text-right grey">Τιμή : <span class="price">{{price}}eur</span></div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </main>
<!--                    footer                    -->
{{> footer }}
<!--                    scripts                    -->
<script src="/js/myOrders.js"></script>
</body>

</html>