<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Sipmarch7">
    <meta name="description" content="Shisha hub delivery service shop">
    <meta name="keywords" content="HMTL, CSS, JS, Project, shisha, delivery, service, node.js, e-shop">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Προεπισκόπηση Παραγγελίας - Shisha hub</title>
    <link rel="icon" type="image/png" href="/img/favicon2.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon2.png">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/header.css" rel="stylesheet" type="text/css">
    <link href="/css/footer.css" rel="stylesheet" type="text/css">
    <link href="/css/orderPreview.css" rel="stylesheet" type="text/css">
</head>

<body>
<!--                    header                    -->
    {{> header }} 
<!--                    main                    -->

    <main>
        <div class="container w-100">
            <div class="w-100 text-center my-3"><h3>Προεπισκόπηση Παραγγελίας</h3></div>
            <div class="w-100 my-2 inside-block mx-0 row">
                <div class="col-md-7 pt-4 pb-2 mobile-outline">
                    <div class="w-100 px-5"><h5>Επιλογές</h5></div>
                    <hr>
                    <div class="description-tiles mb-4 px-3 row mx-0">
                            <div class="col-12"><span> 1 <span class="deluxe">Deluxe</span> Ναργιλές</span></div>
                            <div class="col-4"><span> <span style="font-style: italic;">Γεύσεις </span> </div>
                            <div class="col-8 p-0 row"><div class="col-1 mr-2">:</div>
                                <div class="row w-100 col-10 p-0">
                                    <div class="col-sm-3 flavor m-0 p-0">{{fields.flavor1}}</div>
                                    <div class="col-sm-3 flavor p-0">{{fields.flavor2}}</div>
                                    <div class="col-sm-3 flavor p-0">{{fields.flavor3}}</div>
                                    <div class="col-sm-3 flavor p-0">{{fields.flavor4}}</div>
                                </div> 
                            </div>
                            <div class="col-4"><span> <span style="font-style: italic;">Διάρκεια</span> </div>
                            <div class="col-8 p-0">: &nbsp;{{fields.duration}} ώρες</span></div>
                            <div class="col-4"><span> <span style="font-style: italic;">Ημερομηνία</span> </div>
                            <div class="col-8 p-0">: &nbsp;{{fields.date}}</span></div>
                            <div class="col-4"><span> <span style="font-style: italic;">Ώρα</span> </div>
                            <div class="col-8 p-0">: &nbsp;{{fields.time}}</span></div>
                            <div class="col-md-4"></div>
                            <div class="col-md-4 mt-2"><div class="p-1 price"><span> <span style="font-style: italic;">Τιμή Πακέτου : </span> <span style="font-weight:bolder;">{{price}} eur</span></div></div>
                    </div>
                </div>
                <div class="col-md-5 pt-4 pb-2 mobile-outline">
                    <div class="w-100 px-5"><h5>Διεύθυνση αποστολής</h5></div>
                    <hr>
                    <div class="description-tiles mb-4 px-3 row mx-0">
                            <div class="col-4"><span> <span style="font-style: italic;">Όνομα</span> </div>
                            <div class="col-8">: &nbsp;{{user.firstname}} {{req.user.lastname}}</span></div>
                            <div class="col-4"><span> <span style="font-style: italic;">Διεύθυνση</span> </div>
                            <div class="col-8">: &nbsp;{{user.address}}</span></div>
                            <div class="col-4"><span> <span style="font-style: italic;">Όροφος</span> </div>
                            <div class="col-8">: &nbsp;{{user.floor}}</span></div>
                            <div class="col-4"><span> <span style="font-style: italic;">Περιοχή</span> </div>
                            <div class="col-8">: &nbsp;{{user.city}}</span></div>
                            <div class="col-4"><span> <span style="font-style: italic;">Τηλέφωνο</span> </div>
                            <div class="col-8">: &nbsp;{{user.telephone}}</span></div>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <span style="color: rgb(116, 116, 116); font-size:0.7em">Για περιοχές εκτός Λουτρακίου υπάρχει επί πρόσθετη χρέωση για τα μεταφορικά έξοδα (3-5eur)</span>
                </div>
                <div class="col-12 text-center pb-2">
                    <span style="color: rgb(116, 116, 116); font-size:0.5em">
                        * Με την ολοκλήρωση της παραγγελίας σας αποδέχεστε, οποιαδήποτε χρηματική ευθύνη για αντικατάσταση εξοπλισμού
                        σε περίπτωση ζημιάς από την πλευρά σας.
                    </span>
                </div>
            </div>
        </div>
        <div>
        <form action="/product/orderPreview" method="POST">
            <input type="hidden" name="date" value="{{fields.date}}">
            <input type="hidden" name="time" value="{{fields.time}}"><input type="hidden" name="duration" value="{{fields.duration}}">
            <input type="hidden" name="flavors" value="{{fields.flavor1}}, {{fields.flavor2}}, {{fields.flavor3}}, {{fields.flavor4}}">
            
            <div class="w-100 text-center"><button type="submit" class="btn btn-primary" id="submit-button">Ολοκλήρωση Παραγγελίας</button></div>
        </form>
    </main>

<!--                    footer                    -->
    {{> footer }}
<!--                    scripts                    -->
</body>

</html>