<!DOCTYPE html>
<html lang="el">
<head>
    
    {{>head}}

    <title>Ναργυλές - Shishahub: Deluxe Hookah Delivery στο χώρο σας</title>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/header.css" rel="stylesheet" type="text/css">
    <link href="/css/footer.css" rel="stylesheet" type="text/css">
    <link href="/css/product.css" rel="stylesheet" type="text/css">
</head>

<body>
<!--                    header                    -->
    {{> header }} 
<!--                    main                    -->
<main>
    <div class="container w-100">
        
        <div class="row reverse-row w-100">
            <div class="col-md-1"></div>
            <div class="outside-block col-lg-4">
                <div class="inside-block">
                    <div id="slideshow">
                        <div><img src="/img/products/deluxe-bamboo-brown.jpg" height="400px"></div>
                        <div><img src="/img/products/deluxe-bamboo-glass.jpg" height="400px"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-1" style="max-width: 10px;"></div>
            <div class="outside-block col-lg-5">
                <div class="inside-block description">
                    <div class="w-100 row text-center py-2 px-0"><h3><span class="deluxe">Deluxe Hookah Session</span></h3></div>
                    <div class="w-100 p-2"><h5>Το πακέτο περιλαμβάνει:</h5></div>
                    <hr>
                    <div class="description-tiles mb-4">
                        <div><span>- 1 <span class="deluxe">Deluxe</span> Ναργιλέ</span></div>
                        <div><span>- Γεύσεις της επιλογής σας</span></div>
                        <div><span>- Επαρκή ποσότητα από κάρβουνα καρύδας</span></div>
                        <div><span>- Ηλεκτρική θερμάστρα για τo άναμά τους</span></div>
                        <div><span>- Μεταφορά και στήσιμο στο χώρο σας απο ειδικό μας</span></div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>

        <div class="row w-100 mb-2 mt-5 text-center">
            <h3>Επιλογές</h3>
        </div>

        <div class="row w-100 text-center" id="warning"><span>{{warning}}</span></div>
        
        <form action="/product/orderPreview" method="GET">

            <input type="hidden" name="double_hookah" value="0">
        
        <div class="row w-100 my-2">
            <div class="outside-block w-100 col-12">
                <div class="inside-block duration p-3" >
                    <div class="ml-4"><h5>Διάρκεια</h5></div>
                    <hr>
                    <div class="row w-100 yo px-4">
                        <div class="col-md-4 my-2 p-0 text-center">
                            <input type="radio" id="four-hours" class="durationSelection" name="quantity" value="2" required >
                            <label for="4">&nbsp;<span class="price-time">25 EUR</span>* - 2 γεύσεις (1 μέρα)**</label>
                        </div>
                        <div class="col-md-4 my-2 p-0 text-center">
                            <input type="radio" id="six-hours" class="durationSelection" name="quantity" value="3">
                            <label for="six-hours">&nbsp;<span class="price-time">30 EUR</span> - 3 γεύσεις (1 μέρα)**</label>
                        </div>
                        <div class="col-md-4 my-2 p-0 text-center">
                            <input type="radio" id="two-days" class="durationSelection" name="quantity" value="4">
                            <label for="two-days">&nbsp;<span class="price-time">40 EUR</span> - 4 γεύσεις (2 μέρες)***</label>
                        </div>
                    </div>
                    <div class="row w-100 mx-auto my-1 pl-2"> <span style="font-size:0.7em;">*Διαθέσιμο πακέτο μόνο για παραγγελίες στο Λουτράκι και την Κόρινθο.</span></div>
                    <div class="row w-100 mx-auto my-1 pl-2"> <span style="font-size:0.7em;">**1 ημέρα: εννοούμε ότι θα περάσουμε να μαζέψουμε τον ναργιλέ μετά τις 3μμ της επόμενης μέρας που παραλάβατε.</span></div>
                    <div class="row w-100 mx-auto my-1 pl-2"> <span style="font-size:0.7em;">**2 ημέρες: εννοούμε ότι θα περάσουμε να μαζέψουμε τον ναργιλέ μετά τις 3μμ της μεθεπόμενης μέρας που παραλάβατε.</span></div>
                </div>
            </div>
        </div>

        <div class="row w-100 my-2">
            <div class="outside-block w-100 col-12">
                <div class="inside-block flavors p-4" >
                    <div class="ml-4"><h5>Γεύσεις</h5></div>
                    <hr>
                    <div class="row w-100 flavors-inside px-4">
                        <div class="col-md-6 my-2 p-0 text-center">
                            <label for="flavor1">Γεύση 1η: &nbsp;</label>
                            <select id="flavor1" name="flavor1">
                                {{#each flavors}}
                                    <option value={{flavor_value}}>{{flavor_name}}<span> - {{flavor_description}}</span></option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col-md-6 my-2 p-0 text-center">
                            <label for="flavor2">Γεύση 2η: &nbsp;</label>
                            <select id="flavor2" name="flavor2">
                                {{#each flavors}}
                                    <option value={{flavor_value}}>{{flavor_name}}<span> - {{flavor_description}}</span></option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col-md-6 my-2 p-0 text-center" id="flavor3div">
                            <label for="flavor3">Γεύση 3η: &nbsp;</label>
                            <select id="flavor3" name="flavor3">
                                <option value=""></option>
                                {{#each flavors}}
                                    <option value={{flavor_value}}>{{flavor_name}}<span> - {{flavor_description}}</span></option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col-md-6 my-2 p-0 text-center" id="flavor4div">
                            <label for="flavor4">Γεύση 4η: &nbsp;</label>
                            <select id="flavor4" name="flavor4">
                                <option value=""></option>
                                {{#each flavors}}
                                    <option value={{flavor_value}}>{{flavor_name}}<span> - {{flavor_description}}</span></option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row w-100 my-2">
            <div class="outside-block w-100 col-12">
                <div class="inside-block date p-4" >
                    <div class="ml-4"><h5>Προτιμώμενη παράδοση *</h5></div>
                    <hr>
                    <div class="row w-100 yo px-4">
                        <div class="col-md-3 my-2 p-0 text-center">
                            <input type="radio" id="today" class="daySelection" name="day" value="today" required> 
                            <label for="today">&nbsp;  Σήμερα</label>
                        </div>
                        <div class="col-md-3 my-2 p-0 text-center">
                            <input type="radio" id="otherday" class="daySelection" name="day" value="otherDay">
                            <label for="otherDay">&nbsp;  Άλλη μέρα</label>
                        </div>
                        <div class="col-md3 my-2 p-0 text-center" id="other-day">
                            <label for="otherDay">&nbsp;  Ημερομηνία</label>
                            <input type="date" id="datefield" name="date">
                        </div>
                        <div class="col-md-2 my-2 p-0 text-center">
                            <label for="time">Ώρα * :</label>
                            <select id="time" name="time">
                                <option value=""></option>
                                <option value="14:00">14:00</option>
                                <option value="15:00">15:00</option>
                                <option value="16:00">16:00</option>
                                <option value="17:00">17:00</option>
                                <option value="18:00">18:00</option>
                                <option value="19:00">19:00</option>
                                <option value="20:00">20:00</option>
                                <option value="20:00">20:00</option>
                                <option value="21:00">21:00</option>
                                <option value="22:00">22:00</option>
                            </select>
                        </div>
                        <div class="col-12 p-0">*<span style="font-size: 0.7em;">Οι επιλογές ώρας και Ημερομηνίας είναι ενδεικτκές. 
                        Θα ακολουθήσει σύντομη τηλεφωνική επικοινωνία για  επιβεβαίωση.</span></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-100 text-center mb-3"><span class="price">Τιμή πακέτου : <span id="price"></span></span></div>

        <div class="w-100 text-center"><button type="submit" class="btn btn-primary" id="submit-button">Επόμενο βήμα</button></div>

    </form>
    </div>
</main>
<!--                    footer                    -->
    {{> footer }}
<!--                    scripts                    -->
    <script src="/js/product.js"></script>
</body>
</html>